Developer Punisher/Service References/MissileLauncherService/MissileLauncherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Missile_Launcher_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Missile_Launcher_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MissileLauncherCommand">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MissileLauncherCommand" nillable="true" type="tns:MissileLauncherCommand" />
  <xs:complexType name="LeftCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeftCommand" nillable="true" type="tns:LeftCommand" />
  <xs:complexType name="FireCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FireCommand" nillable="true" type="tns:FireCommand" />
  <xs:complexType name="StopCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StopCommand" nillable="true" type="tns:StopCommand" />
  <xs:complexType name="DownCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DownCommand" nillable="true" type="tns:DownCommand" />
  <xs:complexType name="UpCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpCommand" nillable="true" type="tns:UpCommand" />
  <xs:complexType name="RightCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MissileLauncherCommand">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RightCommand" nillable="true" type="tns:RightCommand" />
</xs:schema>