Developer Punisher/Service References/BuildService/BuildService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BuildFetcher" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BuildFetcher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Build">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Build" nillable="true" type="tns:Build" />
  <xs:complexType name="BuildingBuild">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Build">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuildingBuild" nillable="true" type="tns:BuildingBuild" />
  <xs:complexType name="FailedBuild">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Build">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FailedBuild" nillable="true" type="tns:FailedBuild" />
  <xs:complexType name="SuccessfullBuild">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Build">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SuccessfullBuild" nillable="true" type="tns:SuccessfullBuild" />
</xs:schema>