Developer Punisher/Service References/BuildService/BuildService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1643/BuildService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildFetcher" />
  <xs:element name="GetCurrentBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BuildFetcher" minOccurs="0" name="GetCurrentBuildResult" nillable="true" type="q1:Build" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BuildFetcher" minOccurs="0" name="GetBuildResult" nillable="true" type="q2:Build" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>