Developer Punisher/Service References/BuildService/HudsonBuildFetcher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HudsonBuildFetcher" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1643/BuildService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1643/BuildService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1643/BuildService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BuildFetcher" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuildFetcherService_GetCurrentBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBuild" />
  </wsdl:message>
  <wsdl:message name="IBuildFetcherService_GetCurrentBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildFetcherService_GetBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuild" />
  </wsdl:message>
  <wsdl:message name="IBuildFetcherService_GetBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuildFetcherService">
    <wsdl:operation name="GetCurrentBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildFetcherService/GetCurrentBuild" message="tns:IBuildFetcherService_GetCurrentBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildFetcherService/GetCurrentBuildResponse" message="tns:IBuildFetcherService_GetCurrentBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildFetcherService/GetBuild" message="tns:IBuildFetcherService_GetBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildFetcherService/GetBuildResponse" message="tns:IBuildFetcherService_GetBuild_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuildFetcherService" type="tns:IBuildFetcherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentBuild">
      <soap:operation soapAction="http://tempuri.org/IBuildFetcherService/GetCurrentBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuild">
      <soap:operation soapAction="http://tempuri.org/IBuildFetcherService/GetBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HudsonBuildFetcher">
    <wsdl:port name="BasicHttpBinding_IBuildFetcherService" binding="tns:BasicHttpBinding_IBuildFetcherService">
      <soap:address location="http://localhost:1643/BuildService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>